.categories-container {
    padding: 5% 0%;
    text-align: center;
}

.categories-container h2 {
    font-size: 1.5rem;
    padding-bottom: 1%;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px; 
    margin: 0 auto;
}

.categories-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    width: 95%; 
    margin: 0 auto;
    
}

.categories-img p {
    padding-top: 4%;
}

.category-image {
    height: 40vh; 
    width: 30vh;
    object-fit: cover; 
}
