.products-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(241, 241, 241, 0.925);
}

.products-img {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 0fr)); */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: 70%; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 5% 0%;
    transition: transform 0.3s ease; 
}

.products-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(33.33% - 2%);
}

.products-img a:hover {
    transform: scale(1.05); 
}